@media screen and (min-width: 801px) {
  html {
    background-image: url("../images/sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    min-width: 100%;
    min-height: 100%;
  }
  #tablecontain {
    display: none;
  }
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    height: 100vh;
    font-family: "Montserrat";
    font-size: 22px;
  }
  * {
    margin: 0;
    padding: 0;
    color: #fff;
    overflow-x: hidden;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin-left: 10px;
  }

  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #17e3d9;
  }
  #head {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2.5vw;
    margin-top: 10px;
    position: relative;
    animation-name: headers;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes headers {
    0% {
      left: 0vw;
      top: 0vw;
    }
    33% {
      left: -20vw;
      top: 0vw;
    }
    66% {
      left: 20vw;
      top: 0vw;
    }
    100% {
      left: 0vw;
      top: 0vw;
    }
  }

  .navlist {
    text-decoration: none;
    color: #fff;
    font-size: 1.5vw;
    padding: 0.2px;
  }

  .ulist {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .item {
    float: left;
    list-style: none;
    margin-left: 2vw;
    border: 1.5px solid whitesmoke;
  }

  .item:hover {
    float: left;
    list-style: none;
    margin-left: 2vw;
    border: 0.01vw solid red;
    background-color: red;
    color: white;
  }

  #navi {
    margin-top: 2vw;
    justify-content: center;
    align-items: center;
    height: 5vw;
  }

  .itemselect {
    float: left;
    list-style: none;
    margin-left: 2vw;
    border: 0.01vw solid red;
    background-color: red;
    color: white;
  }

  .bdy {
    margin-top: 3vw;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  #imag {
    float: left;
    margin-right: 3vw;
    width: 25vw;
    height: 25vw;
  }
  .para {
    font-size: 1.2vw;
  }

  .paras {
    font-size: 1.2vw;
    margin-top: 20px;
  }

  .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }

  .footer-basic li {
    padding: 0 10px;
  }

  .footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
  }

  .footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }
  table {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 100px;
  }
  th,
  td {
    border: 1px solid;
    padding: 10px;
  }
  .form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
  .fields {
    padding: 20px;
    min-width: 70%;
  }
  .field {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
  }
  .inpu {
    height: 25px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
  }
}

@media screen and (max-width: 801px) {
  html {
    background-image: url("../images/sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    min-width: 100%;
    min-height: 100%;
  }
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    height: 100vh;
    font-family: Montserrat;
  }
  * {
    margin: 0;
    padding: 0;
    color: #fff;
    overflow-x: hidden;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #17e3d9;
  }
  #head {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 5vw;
    margin-top: 10px;
    position: relative;
    animation-name: headers;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes headers {
    0% {
      left: 0vw;
      top: 0vw;
    }
    33% {
      left: -20vw;
      top: 0vw;
    }
    66% {
      left: 20vw;
      top: 0vw;
    }
    100% {
      left: 0vw;
      top: 0vw;
    }
  }

  .navlist {
    text-decoration: none;
    color: #fff;
    font-size: 2vw;
    padding: 0.2px;
  }

  .ulist {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .item {
    float: left;
    list-style: none;
    margin-left: 2vw;
    border: 1.5px solid whitesmoke;
  }

  .item:hover {
    float: left;
    list-style: none;
    margin-left: 2vw;
    border: 0.01vw solid red;
    background-color: red;
    color: white;
  }

  #navi {
    margin-top: 2vw;
    justify-content: center;
    align-items: center;
    width: "100%";
    height: 5vw;
  }

  .itemselect {
    float: left;
    list-style: none;
    margin-left: 2vw;
    border: 0.01vw solid red;
    background-color: red;
    color: white;
  }
  .bdy {
    margin-top: 3vw;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  #imag {
    float: left;
    margin-right: 3vw;
    width: 35vw;
    height: 35vw;
  }
  .para {
    font-size: 1.5vw;
  }

  .paras {
    font-size: 1.5vw;
    margin-top: 20px;
  }
  .footer-basic {
    padding: 40px 0;
    color: #4b4c4d;
  }

  .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }

  .footer-basic li {
    padding: 0 10px;
  }

  .footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
  }
  .footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }
  table {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 5px;
    margin-bottom: 30px;
  }
  th,
  td {
    border: 1px solid;
    padding: 5px;
  }
  #tabcont {
    display: none !important;
  }
  .form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
  .fields {
    padding: 20px;
    min-width: 70%;
  }
  .field {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
  }
  .inpu {
    height: 25px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
  }
}
.history__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.class-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.class-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.header__title {
  color: #fff;
  font-size: 46px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  margin: 0;
}
.header__subtitle {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}
